@model IEnumerable<TechnicalShare.Models.Mentor>

@{
    ViewData["Title"] = "você pode encontrar seu mentor por área de mentoria";
}
<h2 style="margin-top:50px">
    @ViewData["Title"]
</h2>

<div style="margin-top:50px;" class="nav-tabs">
    <div class="nav-tabs-justified">
        <div>           
            <div style="margin-top:50px;" class="nav-tabs">
                <div class="container">
                    <div class="row">
                        <div role="list" class="col-md-1">
                            <div role="listitem">
                                <a href="expertises/backend" class="btn btn-default">back-end</a>
                            </div>
                        </div>
                        <div role="list" class="col-md-1">
                            <div role="listitem">
                                <a href="expertises/devops" class="btn btn-default">devops</a>
                            </div>
                        </div>
                        <div role="list" class="col-md-1">
                            <div role="listitem">
                                <a href="expertises/frontend" class="btn btn-default">front-end</a>
                            </div>
                        </div>
                        <div role="list" class="col-md-1">
                            <div role="listitem">
                                <a href="expertises/mobile" class="btn btn-default">mobile</a>
                            </div>
                        </div>
                        <div role="list" class="col-md-2">
                            <div role="listitem">
                                <a href="expertises/productmanagement" class="btn btn-default">product management</a>
                            </div>
                        </div>
                        <div role="list" class="col-md-1">
                            <div role="listitem">
                                <a href="expertises/uidesign" class="btn btn-default">ui design</a>
                            </div>
                        </div>
                        <div role="list" class="col-md-1">
                            <div role="listitem">
                                <a href="expertises/uxdesign" class="btn btn-default">ux design</a>
                            </div>
                        </div>

                    </div>
                    
                </div>
                               
            </div>
        </div>
    </div>
</div>
<h3 style="margin-top:70px"> ou ver nossa lista de mentores</h3>
    <p style="margin-top:30px">Filtros:</p>
    <a asp-controller="Mentor" asp-action="Frontend">Front-End</a>
    <a asp-controller="Mentor" asp-action="Backend">Back-End</a>

    <table class="table table-striped table-hover" id="table-mentor">
        <thead>
            <tr>
                <th>
                    nome
                </th>
                <th>
                    email
                </th>
                <th>
                    área de atuação
                </th>
                <th>
                    nível de experiência
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Expertise.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        <a asp-action="Profile" asp-route-id="@item.Id">ver perfil</a>
                    </td>

                </tr>
            }
        </tbody>

    </table>

