@using TechnicalShare.Models
@model TechnicalShare.Models.Mentor
@{
    ViewData["Title"] = "perfil de " + Model.Name;
}


<div class="profile-card" style="text-align:center; height:600px">
    <img src="~/images/foto.png" style="margin-top:50px" width="300" height="300" />
    <div class="card-content">
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        <p class="title">@Html.DisplayFor(model => model.Position) @Html.DisplayFor(model => model.Level)</p>
        <p>mentorias em @Html.DisplayFor(model => model.Expertise.Name)</p>
    </div>

</div>

<div class="profile-btn" style="text-align:center">
    <form method="POST" asp-action="Agendar">
        <p class="schedule-title" style="margin-top:-50px">
            <label asp-for="Name">agendamento com o(a) mentor(a): @Html.DisplayFor(model => model.Name)</label>
        </p>
        <p class="schedule">
            <label>datas e horários disponíveis para a próxima semana</label>
            <div class="row" style="align-items:center">
                <div class="col-md-2" style="width:210px">
                    <div class="card card-content" style="width:210px; height:200px">
                        @Html.DisplayFor(model => model.Day) de abril
                        <p>
                            <button type="button" class="schedule-btn">
                                @Html.DisplayFor(model => model.Slot)
                            </button>
                        </p>
                    </div>
                </div>
                <div class="col-md-2" style="width:210px">
                    <div class="card card-content" style="width:210px; height:200px">
                        @Html.DisplayFor(model => model.Day1) de abril
                        <p>
                            <button type="button" class="schedule-btn">
                                @Html.DisplayFor(model => model.Slot1)
                            </button>
                        </p>
                    </div>

                </div>
                <div class="col-md-2" style="width:210px">
                    <div class="card card-content" style="width:210px; height:200px">
                        @Html.DisplayFor(model => model.Day2) de abril
                        <p>
                            <button type="button" class="schedule-btn">
                                @Html.DisplayFor(model => model.Slot2)
                            </button>
                        </p>
                    </div>

                </div>
                <div class="col-md-2" style="width:210px">
                    <div class="card card-content" style="width:210px; height:200px">
                        @Html.DisplayFor(model => model.Day3) de abril
                        <p>
                            <button type="button" class="schedule-btn">
                                @Html.DisplayFor(model => model.Slot3)
                            </button>
                        </p>
                    </div>

                </div>
                <div class="col-md-2" style="width:210px">
                    <div class="card card-content" style="width:210px; height:200px">
                        @Html.DisplayFor(model => model.Day4) de abril
                        <p>
                            <button type="button" class="schedule-btn">
                                @Html.DisplayFor(model => model.Slot4)
                            </button>
                        </p>
                    </div>

                </div>
                <div class="col-md-2" style="width:210px">
                    <div class="card card-content" style="width:210px; height:200px">
                        @Html.DisplayFor(model => model.Day5) de abril
                        <p>
                            <button type="button" class="schedule-btn">
                                @Html.DisplayFor(model => model.Slot5)
                            </button>
                        </p>
                    </div>

                </div>
                <div class="col-md-2" style="width:210px">
                    <div class="card card-content" style="width:210px; height:200px">
                        @Html.DisplayFor(model => model.Day6) de abril
                        <p>
                            <button type="button" class="schedule-btn">
                                @Html.DisplayFor(model => model.Slot6)
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </p>

        <button class="schedule-btn" style="text-align:center; margin:auto">
            <a asp-controller="Mentors" asp-action="Agendar" asp-route-id="@Model.Id">agendar</a>
        </button>
    </form>

   
   
</div>



