@using TechnicalShare.Models
@model TechnicalShare.Models.Mentor
@{
    ViewData["Title"] = "perfil de " + Model.Name;
}

<div class="profile">
    <img src="~/images/foto.png" width="343" height="404" />
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <p class="title">@Html.DisplayFor(model => model.Position) @Html.DisplayFor(model => model.Level)</p>
    <p class="profile-tags">@Html.DisplayFor(model => model.Expertise.Name)</p>
    <p class="profile-description">Descrição do mentor</p>
</div>

<h2 class="profile-txt">Mentorias Disponíveis</h2>

<form class="profile-form" method="POST" asp-action="Agendar">
    <div>
        <p class="profile-txt1"></p><img src="~/images/pfl-icon01.png" />30 minutos</p>
        <p class="profile-txt2"></p><img src="~/images/pfl-icon02.png" />Mntoria por videoconferência</p>
    </div>

    <div>
        <button type="button" class="schedule-btn">
            @Html.DisplayFor(model => model.Slot)
        </button>
        <button type="button" class="schedule-btn">
            @Html.DisplayFor(model => model.Slot1)
        </button>
        <button type="button" class="schedule-btn">
            @Html.DisplayFor(model => model.Slot2)
        </button>
    </div>

    <div>
        <button class="profile-btn" style="text-align:center; margin:auto">
            <a asp-controller="Mentors" asp-action="Agendar" asp-route-id="@Model.Id">Confirmar Mentoria</a>
        </button>
    </div>

    <div>Calendário</div>
</form>

